@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: url("https://images.unsplash.com/photo-1487621167305-5d248087c724")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.editor-container {
  /* margin: 45px 0 45px 0; */
  min-width: 80vw;
  min-height: 80vh;
  background-color: black;
  border-radius: 12px;
}

.titlebar-container {
  display: flex;
  justify-content: space-between;
  /* min-height: 25px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* background-color: white; */
}

.window-controls {
  margin: 10px 0 0 12px;
}

.panes-container {
  display: flex;
  /* flex-direction: column; */
}

.markdown-pane {
  /* background-color: teal; */
  min-height: 80vh;
  min-width: 50%;
  border-bottom-left-radius: 12px;
}

.pane-title {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  margin: 20px 0 0 20px;
}

.preview-pane {
  /* background-color: silver; */
  min-height: 80vh;
  min-width: 50%;
  border-left: 0.3px solid rgb(36, 36, 36);
  border-bottom-right-radius: 12px;
}

#markdown-editor {
  background: black;
  margin-top: 30px;
  width: 100% !important;
  min-height: 84.7%;
  border-bottom-left-radius: 12px;
  font-family: "JetBrains Mono", monospace;
}

.ace_gutter {
  background: black !important;
}
