@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  /* background: url("https://images.unsplash.com/photo-1487621167305-5d248087c724")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: blue;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.editor-container {
  /* margin: 45px 0 45px 0; */
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
}

.titlebar-container {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(22, 21, 21);
}

.window-controls {
  margin: 10px 0 0 12px;
}

.panes-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 0;
  background-color: #181a1b;
  /* border-bottom-left-radius: 12px; */
  /* flex-direction: column; */
}

.markdown-pane {
  padding-top: 25px;
  background-color: black;
  width: 100%;
  height: 100%;
  scrollbar-color: rgb(24, 23, 23) black;
  border-bottom-left-radius: 12px;
}

.preview-pane {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* scrollbar-color: rgb(235, 233, 233) white; */
  scrollbar-color: rgb(41, 39, 39) #181a1b;
  background: white;
  border-bottom-right-radius: 12px;
}

/* Ace Editor */
#markdown-editor {
  background: black;
  width: 100% !important;
  height: 100% !important;
  font-family: "JetBrains Mono", monospace;
  border-bottom-left-radius: 12px;
}

.ace_gutter {
  background: black !important;
}

/* Ace Editor */

/* Scrollbar */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222221;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}
/* Scrollbar */

.light-mode {
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #181a1b;
  color: rgb(255, 255, 255) !important;
  /* transition: background-color 0.3s ease-out; */
}

.night-mode-toggle {
  margin: 3px 5px 0 0;
  transform: scale(0.7);
}

.moon-icon-titlebar {
  margin: 8px 0 0 0;
  transform: scale(0.9);
}

.dark-mode-controls {
  display: flex;
}
