@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  /* background: url("https://images.unsplash.com/photo-1487621167305-5d248087c724")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: rgb(34, 34, 39);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.editor-container {
  /* margin: 45px 0 45px 0; */
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 90vw;
  height: 90vh;
  background-color: black;
  border-radius: 12px;
}

.titlebar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  /* min-height: 25px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* background-color: white; */
}

.window-controls {
  margin: 10px 0 0 12px;
}

.panes-container {
  display: flex;
  height: 100%;
  min-height: 0;

  /* min-height: 0; */
  /* flex-direction: column; */
}

.markdown-pane {
  width: 50%;
}

.pane-title {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  margin: 20px 0 0 20px;
}

.preview-pane {
  width: 50%;
  overflow-y: scroll;
}

#markdown-editor {
  background: black;
  width: 100% !important;
  height: 100% !important;
  font-family: "JetBrains Mono", monospace;
  border-bottom-left-radius: 12px;
}

.ace_gutter {
  background: black !important;
}
